.nav {
    display:flex;
    box-sizing: border-box;
    height: 7.5%;
    background-color: #FEF9E7;
    border: 5px solid pink;
   width: 100%;
   
}
.companyheader {
    display:flex;   
    width: 75%;
}
.searchbarandcart{
    width: 25%;
   display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav img {
    height: 5vh;

}

.companylogo{
    border: 1px solid #8A6759;
    border-radius: 50%;
   height: 90px;
   width: 90px;
    
}
.links{
   
    width: 75%;
}
.logo{
    display:flex;

    
    color: #8A6759;
    /* border: border-box; */
    
    width: 25%;
   
    font-size: 1vw;
   display: flex;
   
}
.nav-links {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;

}

.nav-links li {
   
    
    

    font-size: 1vw;
    color: #8A6759;
    
}


